:root {
    --default-bg: #F5F5F5;
    --default-color: #5A5A5A;
    --white: #fff;
}

@mixin text{
    font-family: 'Pretendard-Regular';
    font-size: 1rem;
    font-weight: 500;
    color: #5A5A5A;
}

@mixin center{
    display:flex;
    justify-content: center;
    align-items: center;
}

@mixin centerTop{
    top: 50%;
    transform: translateY(-50%);
}

@mixin tablet{ 
    @media (max-width: 1023px){
        @content;
    }
}

@mixin mobile{
    @media (max-width: 767px){
        @content;
    }
} 


