
/* root */

:root {
    --default-bg: #F5F5F5;
    --default-color: #5A5A5A;
    --key-color: #DCD8CE;
    --white: #fff;
    --dim: rgba(0,0,0,0.6);
}

/* mixin */

@mixin text{
    font-family: 'Pretendard-Regular';
    font-size: 1rem;
    font-weight: 500;
    color: var(--default-color);
}

@mixin title{
    font-family: 'Pretendard-Regular';
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--default-color);
}

@mixin center{
    display:flex;
    justify-content: center;
    align-items: center;
}

@mixin centerTop{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

@mixin centerPos{
    position:absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin bef{
    display: block;
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    content: '';
}

@mixin dim{
    position: fixed;
    top:0;
    left:0;
    bottom:0;
    right:0;
    width:100%;
    height:100%;
    background: var(--dim);
    z-index: 999;
}

@mixin layout{
    max-width: 1023px;
    margin: 0 auto;
}

@mixin gallary($marginLeft, $column){
    display:flex;
    flex-flow: row wrap;
    li{
        width: calc((100% - ($marginLeft*($column - 1)))/$column);
        margin-left: $marginLeft;
        &:nth-of-type(#{$column+1}n+1){
            margin-left:$marginLeft;
        }
        &:nth-of-type(#{$column}n+1){
            margin-left:0;
        }
        
        &:nth-of-type(n+#{$column+1}){
            margin-top: $marginLeft;
        }
    }
}

@mixin imgPad{
    position: relative;
    height: 13.888rem;
    img{
        @include centerPos;
        max-width: 88%;
        max-height: 88%;
        object-fit: contain;
    }
}

@mixin imgFull{
    overflow:hidden;
    position: relative;
    height:0;
    padding-top: 100%;
    img{
        position: absolute;
        width:100%;
        height:100%;
        top:0;
        left:0;
        object-fit: cover;
    }
}

@mixin ellipseBox($boxHeight,$rowNumber){
    overflow: hidden;
    display: -webkit-box;
    height: $boxHeight;
    text-overflow: ellipsis;
    white-space: normal;
    word-wrap: break-word;
    -webkit-line-clamp: $rowNumber;
    -webkit-box-orient: vertical;
}

@mixin ellipse{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@mixin video{
    position: relative;
    width:100%;
    height:0;
    padding-top: 56.5%;
    iframe{
        position: absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
    }
}


@mixin tablet{ 
    @media (max-width: 1023px){
        @content;
    }
}

@mixin mobile{
    @media (max-width: 767px){
        @content;
    }
} 

/* class */

.list{
    display:flex;
    flex-flow: row wrap;
}

.list.bar{
    li{
        position: relative;
    }
    li ~ li{
        margin-left: 0.5rem;
        padding-left: 0.5rem;
        &:before{
            @include bef;
            width:1px;
            height: 80%;
            top: 6%;
            background: var(--default-color);
        }
    }
}